<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Party.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ForumPartyConnectionString" connectionString="Data Source=DESKTOP-TNFNUSJ;Initial Catalog=ForumParty;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ForumPartyEntities1" connectionString="metadata=res://*/ModelData.csdl|res://*/ModelData.ssdl|res://*/ModelData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TNFNUSJ;initial catalog=ForumParty;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
   <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="50000000"/>
           </webServices>
       </scripting>
   </system.web.extensions>
  <!--<connnectionStrings>
    <add name="DatabaseContext" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-TNFNUSJ;Initial Catalog=ForumParty;Integrated Security=True;" />
  </connnectionStrings>-->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Party.Web.Properties.Settings>
      <setting name="Party_Web_localhost_ASMXTest" serializeAs="String">
        <value>https://localhost:44362/WebService/ASMXTest.asmx</value>
      </setting>
    </Party.Web.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ASMXTestSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="ASMXTestSoap3" />
        <binding name="ASMXTestSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ASMXTestSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44362/WebService/ASMXTest.asmx"
        binding="basicHttpBinding" bindingConfiguration="ASMXTestSoap2"
        contract="ServiceReference2.ASMXTestSoap" name="ASMXTestSoap1" />
      <endpoint address="https://localhost:44362/WebService/ASMXTest.asmx"
        binding="basicHttpBinding" bindingConfiguration="ASMXTestSoap"
        contract="ServiceReference1.ASMXTestSoap" name="ASMXTestSoap" />
    </client>
  </system.serviceModel>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>